aiohttp
build
git+https://github.com/seequent/evo-object-client.git@v2.0.0
evo-client-common@git+https://github.com/seequent/evo-client-common.git@v2.0.1
mypy
nest-asyncio
numpy
omf>=1.0.1
git+https://github.com/seequent/omf-rust.git@main#egg=omf-python&subdirectory=omf-python
pandas
pre-commit
pyarrow
pytest
pytest-asyncio
ruff
git+https://github.com/seequent/geoscience-object-schemas.git@v2024.11
resqpy==4.18.10
scipy
requests-mock
